
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: rgb(242, 244, 255);
    min-height: 100px;
    border-radius: 10px;
  }

body {
    height: 100%;
    background-color: rgb(191, 189, 189);
  }



#newtask {
    position: relative;
    padding: 30px 20px;
    width: 75%;
    height: 45px;
    font-family: 'poppin', sans-serif;
    font-size: 15px;
    border: 2px solid #b3b2b2;
    padding: 12px;
    color:rgb(19, 21, 21);
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
  }

  #newtask:focus{
    outline: none;
    border-color: rgb(110, 240, 129);
  }

  #newtask-button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    background-color: rgb(58, 114, 245);
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
  }

  #delete-button {
    position: relative;
    float: right;
    width: 8%;
    height: 30px;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    background-color: rgb(245, 105, 58);
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
  }

#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }

  .task{
    background-color: rgb(217, 230, 226);
    height: 50px;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b3b2b2;
    cursor: pointer;
  }